@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1450px) {
  * {
    font-size: 15px;
  }
}

@media (max-width: 1250px) {
  * {
    font-size: 14px;
  }
}

@media (max-width: 1160px) {
  * {
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  * {
    font-size: 12px;
  }
}

/* @media (max-width: 960px) {
  * {
    font-size: 12px;
  }
} */
/* 
@media (max-width: 870px) {
  * {
    font-size: 12px;
  }
}

@media (max-width: 775px) {
  * {
    font-size: 12px;
  }
} */

.gutter {
  background-image: radial-gradient(circle, #c0c0c0 20%, transparent 20%);
  background-size: 6px 6px;
  background-repeat: repeat;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.gutter.gutter-vertical {
  cursor: row-resize;
}

.gutter:hover {
  background-image: radial-gradient(circle, #c0c0c0 40%, transparent 20%);
  background-size: 6px 6px;
  background-repeat: repeat;
}

.custom-select .ant-select-selector {
  border: none !important;
  border-radius: 0.75rem !important;
}

.admin-custom-select .ant-select-selector {
  border-radius: 1rem !important;
}
